
    <!-- =-=-=-=-=-=-= Services =-=-=-=-=-=-= -->
    <div class="servicesContainer flex row justify-content-center">
        <!-- services-grid-1 -->
        <div class="services-grid-1  col-lg-4 col-sm-12">
          <div class="service-image  ">
            <a href="#"><img alt="" [src]="service[0]"></a>
        </div>
        <div class="services-text">
          <h5>Fast & Safe Delivery</h5>
          <p>Fusce pretium nulla et purus malesuada feugiat sed vel mauris tincidunt vehicula lorem vel hendrerit justo praesent aliquam maximus imperdiet integer sagittis leo</p>
          <button class="btn btn-primary"> READ MORE</button>
        </div>
        </div>
        <div class="services-grid-1  col-lg-4 col-sm-12">
          <div class="service-image">
            <a href="#"><img alt="" [src]="service[1]"></a>
        </div>
        <div class="services-text">
          <h5>Internation Air Freight</h5>
          <p>Fusce pretium nulla et purus malesuada feugiat sed vel mauris tincidunt vehicula lorem vel hendrerit justo praesent aliquam maximus imperdiet integer sagittis leo</p>
          <button class="btn btn-primary"> READ MORE</button>
        </div>
        </div>
        <div class="services-grid-1  col-lg-4 col-sm-12">
          <div class="service-image">
            <a href="#"><img alt="" [src]="service[2]"></a>
        </div>
        <div class="services-text">
          <h5>ground shipping</h5>
          <p>Fusce pretium nulla et purus malesuada feugiat sed vel mauris tincidunt vehicula lorem vel hendrerit justo praesent aliquam maximus imperdiet integer sagittis leo</p>
         <button class="btn btn-primary"> READ MORE</button>
        </div>
        </div>
      </div>
              <!-- =-=-=-=-=-=-= Services =-=-=-=-=-=-= -->


<!-- Our services -->
<div class= "our-services">
  <div>
    <div class="main-heading text-center">
      <h2 class="text-uppercase font-weight-bold p-3">our services</h2>
      <h6 class="p-3">Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi <br>
                 eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</h6>
    </div>
  </div>
  <div class="container">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
      <mdb-carousel-item >
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item >
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="my-1">
            <mdb-card-body>
              <mdb-card-title>
              
                <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                <h5>Cargo</h5>
              </mdb-card-title>
              <p>We have the right caring, experience and dedicated professional for you.</p>
              <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

 
</div>



      