
.servicesContainer{
    padding: 4em 10vw;
}
.services-text{
    padding: 1em 0em;
    font-family:serif;
    width: 95%;
}
.services-text p{
    text-align: left;
    color: rgb(139, 137, 137);
    width: 95%;
    font-family: sans-serif;
}
.service-image{
    padding:0em,2em;
}
.servicesContainer .services-grid-1 a img{
    width: 95%;
}

@media screen and (max-width: 1000px) {
    .servicesContainer .services-grid-1 a img{
        width: -webkit-fill-available;
    }
    }
    .service-image, .titel-image {
        border: 2px solid #fff;
        width: 100%;
        height: 150;
        overflow: hidden
    }
    

    .service-image img, .titel-image img{
        width: 100%;
        height: 150;
        transition: all 2s ease-in-out
    }
    
    .service-image:hover img, .titel-image:hover img {
        transform: scale(1.1, 1.1);
        cursor: pointer
    }
    
/* our services */
.our-services{
    background-color: rgb(226, 226, 226);
    font-family: serif;
    padding: 4em 0em;

}

