
.servicesContainer{
    padding: 4em 10vw;
}
.services-text{
    padding: 1em 0em;
    font-family:serif;
    width: 95%;
}
.services-text p{
    text-align: left;
    color: rgb(139, 137, 137);
    width: 95%;
    font-family: sans-serif;
}
.service-image{
    padding:0em,2em;
}
.servicesContainer .services-grid-1 a img{
    width: 95%;
}
@media screen and (max-width: 1400px) {
    .services-text>h5 , mdb-card-title>h5{
        font-size: 20px;
        font-family:serif;
    }
    .our-services .main-heading>h2{
        font-size: 30px;
        font-family: serif;
    }
    .our-services .main-heading>h6 {
        font-size: 20px;
    }
    
    }
@media screen and (max-width: 1030px) {
    .servicesContainer .services-grid-1 a img{
        width: -webkit-fill-available;
    }
    .our-services .main-heading>h6 {
        font-size: 15px;
    }
    }
    .service-image, .titel-image {
        border: 2px solid #fff;
        width: 100%;
        height: 150;
        overflow: hidden
    }
    

    .service-image img, .titel-image img{
        width: 100%;
        height: 150;
        transition: all 2s ease-in-out
    }
    
    .service-image:hover img, .titel-image:hover img {
        transform: scale(1.1, 1.1);
        cursor: pointer
    }
    
/* our services */
.our-services{
    background-color: rgb(226, 226, 226);
    font-family: serif;
    padding: 4em 0em;

}
@media screen and (max-width: 500px) {
    .our-services {
      width: 40em;
    }
    .servicesContainer{
        padding: 2em;
        width: 41.5em;
    }

}

