

    .custom-padding{
        padding: 3em;
    }

    .card{
        border: none;
        width: 20rem;
    }
    .main-heading>h2{
        font: bold 30px serif;
    }
   .blog-cards{
        margin: 0em 9em;
    }
    .card-body{
        padding-right: 0em;
    }
    .card-body .news-detail h5 {
        font-family: serif;
        font-size: 20px;
    }
    .card-body .news-detail p {
        font-size: 17px;
        padding: 1px 3px 1px 1px;
        line-height: 26px;
    }
    .post-meta{
        font-size: 1vw;
        padding-top: 20px;
    }

    .post-meta .post-admin,.post-meta .post-comment,.post-meta .post-like{
        padding: 0em;
        margin: 0em;
    }
    .date-month{
        background-color: blue;
        position: absolute;
        top: 1.9em;
        right:1.9em;
        width: 4em;
        font-family: serif;
    }
    .date-month .date{
        padding: 0.3em;
        text-align: center;
        font-size: 25px;
        background-color: white;
    }
    .date-month .month{
        padding: 0.1em;
        text-align: center;
    }
    @media screen and (max-width: 1400px) {
            .main-heading>p{
                font-size: 18px;
                            
            }
            .blog-cards{
                margin: 0px 0px;
            }
            .card-body{
                padding-left: 0em;
            }
            
    }
    @media screen and (max-width: 1030px) {
        .card-body .news-detail p {
            padding-right:27px;
        }
        .post-meta .post-admin,.post-meta .post-comment,.post-meta .post-like{
            font-size: 15px;
        }
    }
    @media screen and (max-width: 640px) {
            .main-heading>p{
                font-size: 15px;
            }
            .custom-padding , .card {
                width: 40em;
            }

        }
