
    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->

    <section id="blog" class="custom-padding">
        <div class="container">
      <!-- title-section -->
          <div class="main-heading text-center p-2">
              <h2>OUR BLOG</h2>
              <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis 
                cras vitae lacus metus nunc vulputate facilisis nisi <br> 
                eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
          </div>
          <!-- title-section end -->
        </div>
        
        <div class="row blog-cards  justify-content-lg-center">
            <div class="card col-sm-12 col-md-12 col-lg-4 p-3">
              <div class="titel-image">
                <img [src]="blogImageOne" class="card-img-top" alt="...">
              </div>
              <div class="date-month font-weight-bold">
                <div class="date"> <strong>21</strong></div>
                <div class="month text-uppercase text-white"><span>Jun</span> </div>
              </div>
              <div class="card-body">
                <div class="news-detail">
                  <h5 class="text-capitalize w-100"><a title="" href="#">top benefits of hiring our logistics service</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo enean dolor sit amet, consectetuer.</p>
    
                  <div class="card-footer">
                      <div class="post-meta row text-muted ">
                          <div class="post-admin col-6 "> <i class="fa fa-user-circle-o"></i>Posted by<a href="#">Admin</a> </div>
                          <div class="post-comment col-3"> <i class="fa fa-circle-o"></i> <a href="#">217</a> </div>
                          <div class="post-like col-3"> <i class="fa fa-circle-o"></i> <a href="#">130</a> </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-4 p-3" >
              <div class="titel-image">
                <img [src]="blogImageTwo" class="card-img-top" alt="...">
              </div>
              <div class="date-month font-weight-bold">
                <div class="date"> <strong>21</strong></div>
                <div class="month text-uppercase text-white"><span>Jun</span> </div>
              </div>
              <div class="card-body">
                <div class="news-detail">
                  <h5 class="text-capitalize w-100"><a title="" href="#">top benefits of hiring our logistics service</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo enean dolor sit amet, consectetuer.</p>
    
                  <div class="card-footer">
                      <div class="post-meta row text-muted ">
                          <div class="post-admin  col-6 "> <i class="fa fa-user-circle-o"></i>Posted by<a href="#">Admin</a> </div>
                          <div class="post-comment col-3"> <i class="fa fa-circle-o"></i> <a href="#">217</a> </div>
                          <div class="post-like col-3"> <i class="fa fa-circle-o"></i> <a href="#">130</a> </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-4 p-3">
              <div class="titel-image">
                <img [src]="blogImageThree" class="card-img-top" alt="...">
              </div>
              <div class="date-month font-weight-bold">
                <div class="date"> <strong>21</strong></div>
                <div class="month text-uppercase text-white"><span>Jun</span> </div>
              </div>
              <div class="card-body">
                <div class="news-detail">
                  <h5 class="text-capitalize w-100"><a title="" href="#">top benefits of hiring our logistics service</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo enean dolor sit amet, consectetuer.</p>
    
                  <div class="card-footer">
                      <div class="post-meta row text-muted ">
                          <div class="post-admin col-6 "> <i class="fa fa-user-circle-o"></i>Posted by<a href="#">Admin</a> </div>
                          <div class="post-comment col-3"> <i class="fa fa-circle-o"></i> <a href="#">217</a> </div>
                          <div class="post-like col-3"> <i class="fa fa-circle-o"></i> <a href="#">130</a> </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
    
        </div>
    </section>
        <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
    