.callToAction{
    width:100%;
    padding:2.7em;
    margin: 0em;
    font-family: serif;
}
div>h4 {
font-size: 30px;
font-family: serif;
}
@media screen and (max-width: 480px) {
    div>h4 {
                font-size: 20px;
            }
}
@media screen and (max-width: 500px) {
    .callToAction{
      width: 40em;
    }
    }
