      <!-- =-=-=-=-=-=-= Call To Action =-=-=-=-=-=-= -->
      <div class="container-fluid row bg-primary text-white callToAction">
        <div class="col-md-8 col-sm-8 row justify-content-center align-items-center text-capitalize">
                <h4>Not sure which solution fits you business needs?</h4>
        </div>
        <!-- end col-md-8 -->
        <div class="col-md-4 col-sm-4 ">
            <button class="page-scroll btn btn-lg btn-outline-light btn-clean text-capitalize">Get a quote <i class="fa fa-angle-double-right "></i></button>
            <!-- end parallex-button -->
        </div>
<!-- end container -->
</div>
  <!-- =-=-=-=-=-=-= Call To Action End =-=-=-=-=-=-= -->
