*{
    font-family:serif;
    font-size: 1em;
}
.navbar{
padding:0em 2em 0em 2em;
}
.navbar-dark .navbar-nav .nav-link{
    height: 4em;
    padding-top: 1em;
}
.dropdown-menu{
    padding: 0em;
    margin: 0em;
    border:none;
}
.nav-link:hover .dropdown .dropdown-menu {
    display: block
}
li a:hover 
{background-color: rgb(49, 35, 173);}
.dropdown-item{
    background-color:black;
    color: white;
    font-size: 20px;
    width: 100%;
    padding:0.5em;
}
@media screen and (max-width: 500px) {
    .navbar {
      width: 40em;
    }
}
