
<!-- navbar- starts -->
<nav class="navbar d-flex navbar-expand-sm justify-content-end navbar-dark font-weight-bold bg-dark">
      <!-- navbar-toggle button starts -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
       aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <!-- navbar-toggle button ends -->
      </button>

      <!-- navbar links starts -->
      <div class="collapse row justify-content-lg-center navbar-collapse" id="navbarsExample03">
        <!-- navbar-bav class ul starts  -->
        <ul class="navbar-nav row">
          <!-- navbar-home starts -->
          <li class=" col-auto nav-item active ">
            <a class="nav-link" href="#">
                <div class="dropdown"  mdbDropdown>
                    <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                        
                        <span>HOME</span>
                      </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">New project..gdfbfghhhgbgfb.</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div> 
                
            </a>
          </li>
          <!-- navbar-home end -->

          <!-- navbar-about company starts -->
          <li class=" col-auto nav-item">
            <a class="nav-link" href="#">  
              <div class="dropdown"  mdbDropdown>
                <a  href="#" class="d-block  text-light dropdown-toggle waves-light" 
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                    
                    <span>ABOUT COMPANY</span>
                  </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> 
            </a>
          </li>
          <!-- navbar-about company end -->

          <!-- navbar-our services starts -->
          <li class=" col-auto nav-item">
            <a class="nav-link" href="#"> 
                 <div class="dropdown"  mdbDropdown>
                <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                    
                    <span>OUR SERVICES</span>
                  </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> 
            </a>
          </li>
          <!-- navbar-our services ends -->
          
          <!-- navbar-gallery starts -->
          <li class=" col-auto nav-item d-none d-md-block">
            <a class="nav-link text-light" href="#">GALLARY</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#">
                <div class="dropdown"  mdbDropdown>
                <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                    
                    <span>PAGES</span>
                  </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> 
            </a>
          </li>
          <!-- navbar-gallery ends -->

          
          <!-- navbar-blogs starts -->
          <li class=" col-auto nav-item">
            <a class="nav-link" href="#">
                <div class="dropdown"  mdbDropdown>
                <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                    
                    <span>BLOGS</span>
                  </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> 
            </a>
          </li> 
          <!-- navbar-blogs ends -->

          <!-- navbar-cargo tracking starts -->
          <li class=" col-auto nav-item">
            <a class="nav-link" href="#">  
              <div class="dropdown"  mdbDropdown>
                <a  href="#" class="d-block  text-light dropdown-toggle waves-light" 
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                    
                    <span class="cargoTracking">CARGO TRACKING</span>
                  </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> 
            </a>
          </li>  
          <!-- navbar-cargo tracking ends -->

          <!-- navbar-cargo booking starts -->
          <li class="col-auto">
            <div  class="nav-item">
                <a class="nav-link bg-primary text-light" href="#">CARGO BOOKING</a>
            </div>
          </li>
          <!-- navbar-cargo booking ends -->
        </ul>
        <!-- navbar-bav class ul ends  -->
      </div>
      <!-- navbar links starts -->
    </nav>
    <!-- navbar ends -->




















    