
    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->

    <div class="jumbotron jumbotron-fluid our-clients">
        <div class="container">
          <!-- title-section -->
          <div class="main-heading text-center">
            <h1 class="text-uppercase font-weight-bold p-2">our partners</h1>
            <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
        </div>
        <!-- End title-section -->
        </div>

          <!-- client slider container start -->
          <div class="container">
            <mdb-carousel [isControls]="true" class=" multi-animation" [type]="'carousel-multi-item'"
                      [animation]="'slide'">
              <mdb-carousel-item  class="carousel-multi-item">
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item class="carousel-multi-item">
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
                <div class="col-md-4">
                  <mdb-card class="my-1">
                    <mdb-card-body>
                      <mdb-card-title>
                      
                        <h4><i class="fa fa-eercast" aria-hidden="true"></i></h4>
                        <h5>Cargo</h5>
                      </mdb-card-title>
                      <p>We have the right caring, experience and dedicated professional for you.</p>
                      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect></a>
                    </mdb-card-body>
                  </mdb-card>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- client slider container end -->
      </div>
      
      <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->
      