
<!-- login class start -->
  <div class="login">
    <!-- login-heading start -->
      <div class="login-header">
        <!-- login background image start -->
        <div class="login-header-background d-flex justify-content-between">
          <div>
            <p class="">prove your identity</p>
            <h1 class="">LOGIN YOUR ACCOUNT</h1>
          </div>
          <div>
            <span><a href="#">Home</a></span>/
            <span><a href="#">Pages</a></span>/
            <span><a href="#">Login</a></span>
          </div>
        </div>
        <!-- login background image start -->
      </div>
      <!-- login-heading end -->
      <!-- login card starts -->
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>
            Login To Your Account
          </mat-card-title>
        </mat-card-header>
        <hr>
        <!-- login form starts -->
        <mat-card-content>
          <form class="login-form">
            <mat-form-field class="login-full-width">
              <mat-label>user name</mat-label>
              <input matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>
            <mat-form-field class="login-full-width">
                <mat-label>password *</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
              </mat-form-field>
          </form>
        </mat-card-content>
         <!-- login form end -->
        <!-- sign in action button start -->
        <mat-card-actions>
          <mat-checkbox class="example-margin" [color]="color">Stay signed in</mat-checkbox>
          <button mat-raised-button color="primary">LOGIN</button>
        </mat-card-actions>
        <!-- sign in action button end -->

        <!-- password reset start -->
        <div class="login-card-footer">
          <span>Forget your Password ?</span><br>
          <span>no worries,<a href="#"> click here</a> to reset your password.</span>
      </div>
      <!-- password reset end -->
      </mat-card>
      <!-- login card end -->
  </div>
<!-- login class end -->