
    .carousel-item-slider {
        height: 575px;
        width: 100%;
        background: rgb(4, 96, 182);
        overflow: hidden;
    }
    
    .carousel-item-slider .d-block {
       object-fit: cover;
       opacity: 0.05;
    }
    .carousel-item-slider .carousel-caption{
        position: absolute;
        top: 5vw;
        width: 50%;
        margin: auto;
        font-size: 20px;
    }
    .carousel-item-slider .carousel-caption .profession{
        font-size: 15px;
    }
    @media screen and (max-width: 770px) {
        .carousel-item-slider .carousel-caption{
            position: absolute;
            top: 5vw;
            width: 50%;
            margin: auto;
            font-size: 16px;
        }
        .carousel-caption>p{
            font-size: 15px;
        }
        }

    @media screen and (max-width: 500px) {
            .parallex-testmonils {
              width: 40em;
            }
    }
