<!-- main top head part start-->
<div class="container-fluid top-bar row justify-content-around text-muted">
    <div class="container d-none d-md-block  col-md-7 col-lg-6 ">
        <p class="nav-left "><span class="left-text text-dark">Opening Hours :</span> Monday to Saturday - 8am to 5pm</p>
    </div>  
    <!-- profile,login and signUp links starts -->
    <div class="top-bar-nav row justify-content-md-start justify-content-end col-md-5 col-lg-4">
        <ul class="nav-right list-unstyled">
            <li> <a class="text-muted" href="#"><i class="fa fa-lock text-muted"></i> Login </a></li>
            <li> <a class="text-muted" href="#"><i class="fa fa-user text-muted"></i> Sign Up </a></li>
        </ul>
        <!-- profile dropdown using MDBootstrap start -->
        <div  mdbDropdown>
            <a  href="#" class="d-block link-dark text-muted dropdown-toggle waves-light" 
                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                <img src="https://github.com/mdo.png" alt="mdo" width="30" height="28"  class="rounded-circle">
                <span class="p-2">Umair</span>
              </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div> 
        <!-- profile dropdown using MDBootstrap end--> 
    </div>
    <!-- profile,login and signUp links end -->
</div>
<!-- main top head part end-->

<!-- logo and contact details start-->
<div class=" container-fluid align-items-center row  col-auto logo-header text-muted" >
  <!-- logo start -->
  <div class="col-lg-5 justify-content-lg-around row">
    <div class="col-sm-12 col-lg-auto ">
    <img [src]="logoImage" alt="company logo">
    </div>
     <!-- logo end -->
  </div>
  <!-- contact details start -->
  <div class="row col-lg-7  justify-content-lg-around  font-weight-bold">
    <div class="col-sm-12 col-lg-auto">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <a href="#" class="text-dark">
        EMAIL<p class="text-muted">contact@scriptsbundle.com</p>
      </a>
    </div>
    <div class="col-sm-12 col-lg-auto">
      <i class="fa  fa-mobile-phone" aria-hidden="true"></i>
      <a href="#" class="text-dark">
      Call Now<p class="text-muted">(92) 123-456-78</p>
      </a>
    </div>
    <div class="col-sm-12 col-lg-auto">
      <i class="fa  fa-area-chart" aria-hidden="true"></i>
      <a href="#"class="text-dark">
        Find Us<p class="text-muted">Model Town, Pakistan</p>
      </a>
    </div>
  </div>
  <!-- contact details end -->
</div>
<!-- logo and contact details end -->





