.top-bar{
    background-color: rgb(228, 228, 228);
    font-size:small;  
    margin: 0em;
    padding: 1em 0em 0em 0em;
    font-size:0.9em;
}
.nav-left{
    margin: 0em;
    font-family: sans-serif;
}
.left-text{
    font-weight: bold;
}
.top-bar-nav{
    display: flex;
}
.top-bar-nav li{
    display: inline;
}
.top-bar-nav .nav-right li{
    padding:2em 1em 0em 0.5em;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  /* logo  */
.logo-header{
    padding-top: 2em;
}
@media screen and (max-width: 650px) {
    .top-bar {
      width: 52em;
    }
}
@media screen and (max-width: 500px) {
    .top-bar {
      width: 44em;
    }
}
