


<footer>
    <!--Footer Upper-->
     <div class="complete-footer text-light ">
       <div class="footer-content bg-dark">
         <div class="container">
             <div class="row clearfix">
   
                 <!--Two 4th column-->
                 <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                     <div class="row clearfix">
                         <div class="col-lg-7 col-sm-6 col-md-8 col-xs-12 column">
                             <div class="footer-widget about-widget">
                                 <div class="footer-logo">
                                     <a href="#"><img [src]="logoImage" class="img-responsive" alt=""></a>
                                 </div>
                                 
                                 <ul class="contact-info">
                                     <li><span class="icon fa fa-map-marker"></span><a href="#">60 Link Road Lhr. Pakistan 54770</a></li>
                                     <li><span class="icon fa fa-phone"></span><a href="#">(042) 1234567890</a></li>
                                     <li><span class="icon fa fa-envelope-o"></span><a href="#"> contant@scriptsbundle.com</a></li>
                                     <li><span class="icon fa fa-fax"></span><a href="#">(042) 1234 7777</a></li>
   
                                 </ul>
                                 <div class="social-links-two clearfix"> 
                                   <a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a> 
                                   <a href="#" class="twitter"><span class="fa fa-twitter"></span></a> 
                                   <a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
                                    <a href="#" class="linkedin"><span class="fa fa-pinterest-p"></span></a> 
                                    <a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a> 
                                 </div>
                             </div>
                         </div>
   
                         <!--Footer Column-->
                         <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 column  text-white">
                             <div class="footer-widget links-widget">
                               <h2>Our Service</h2>
                                 <ul class="contact-info">
                                     <li><a href="#">Packaging And Storage</a></li>
                                     <li><a href="#">worldwide transport</a></li>
                                     <li><a href="#">Internation Air Freight</a></li>
                                     <li><a href="#">ground shipping</a></li>
                                     <li><a href="#">24/7 Support</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!--Two 4th column End-->
   
                 <!--Two 4th column-->
                 <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 w-100" >
                     <div class="row clearfix">
                         <!--Footer Column-->
                         <div class="col-lg-8 col-sm-6 col-md-8 col-xs-12 column p-0 w-100">
                             <div class="footer-widget news-widget text-white p-0">
                                 <h2>Latest News</h2>
   
                                 <!--News Post-->
                                 <div class="row flex align-items-center new-post-main ">
                                     <div class="news-post row w-100" *ngFor="let image of popularImages">
                                         <div class="news-content  col-4 " >
                                             <figure class="image-thumb  my-0">
                                               <img [src]="image" alt="" width="80px" height="50px ">
                                             </figure>
                                         </div>
                                         <div class="news-content col-8 w-100" >
                                             <a href="#">top benefits of hiring our professional logistics service</a>
                                             <div class="time">June 21, 2016</div>
                                         </div> 
                                     </div>
                                 </div>
                             </div>
                         </div>
   
                         <!--Footer Column-->
                         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                             <div class="footer-widget links-widget  text-white p-0">
                                 <h2>Site Links</h2>
                                 <ul class="contact-info">
                                     <li><a href="about.html">About Us</a></li>
                                     <li><a href="team.html">Our Team</a></li>
                                     <li><a href="services.html">Our Services</a></li>
                                     <li><a href="index-7.html">Blog</a></li>
                                     <li><a href="contact.html">Contact Us</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!--Two 4th column End-->
   
             </div>
         </div>
       </div>
   
   <!--Footer Bottom-->
       <div class="footer-copyright  bg-dark">
         <div class="auto-container clearfix">
             <!--Copyright-->
             <div class="copyright text-center">Copyright 2016 &copy; Theme Created By <a target="_blank" href="http://themeforest.net/user/scriptsbundle/portfolio">Scriptsbundle</a> All Rights Reserved</div>
         </div>
       </div>
     </div>
   </footer>