

<!-- signup class start -->
<div class="signup">
    <!-- signup-heading start -->
      <div class="signup-header">
        <!-- identity check  start -->
        <div class="signup-header-background d-flex justify-content-between">
          <div>
            <p class="">prove your identity</p>
            <h1 class="">SIGN UP</h1>
            <h1 class="">LOG IN</h1>

          </div>
          <div>
            <span><a href="#">Home</a></span>/
            <span><a href="#">Pages</a></span>/
            <span><a href="#">Sign Up</a></span>
          </div>
        </div>
         <!-- identity check  end -->
      </div>
      <!-- signup-heading end -->
      <!-- signup card starts -->
      <mat-card class="signup-card">
        <mat-card-header>
          <mat-card-title>
            <div class="text-center">
                Register A New Account
            </div>
            <div class="registerd-user">
                <span>Already Signed Up? Click <a href="#"> Sign In </a> to login your account.</span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <!-- login form starts -->
        <mat-card-content>
          <form class="signup-form">
              <!-- first name-->
            <mat-form-field class="signup-full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>
            <!-- last name -->
            <mat-form-field class="signup-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
              </mat-form-field>
              <!-- email address -->
              <mat-form-field class="signup-full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Ex. xyz@email.com" value="">
              </mat-form-field>
            <mat-form-field class="signup-full-width">
                <mat-label>Password *</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
              </mat-form-field>
              <mat-form-field class="signup-full-width">
                <mat-label>Conform Password *</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
              </mat-form-field>
          </form>
        </mat-card-content>
         <!-- signup form end -->
        <!-- sign up action button start -->
        <mat-card-actions>
          <mat-checkbox [color]="color">I read <a href="#">Terms and Conditions</a></mat-checkbox>
          <button mat-raised-button color="primary">Register</button>
        </mat-card-actions>
        <!-- signup action button end -->
      </mat-card>
      <!-- signup card end -->
  </div>
<!-- signup class end -->

<!-- login class start -->
  <div class="login">
      <!-- login card starts -->
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>
            Login To Your Account
          </mat-card-title>
        </mat-card-header>
        <hr>
        <!-- login form starts -->
        <mat-card-content>
          <form class="login-form">
            <mat-form-field class="login-full-width">
              <mat-label>user name</mat-label>
              <input matInput placeholder="Ex. Pizza" value="">
            </mat-form-field>
            <mat-form-field class="login-full-width">
                <mat-label>password *</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
              </mat-form-field>
          </form>
        </mat-card-content>
         <!-- login form end -->
        <!-- sign in action button start -->
        <mat-card-actions>
          <mat-checkbox class="example-margin" [color]="color">Stay signed in</mat-checkbox>
          <button mat-raised-button color="primary">LOGIN</button>
        </mat-card-actions>
        <!-- sign in action button end -->

        <!-- password reset start -->
        <div class="login-card-footer">
          <span>Forget your Password ?</span><br>
          <span>no worries,<a href="#"> click here</a> to reset your password.</span>
      </div>
      <!-- password reset end -->
      </mat-card>
      <!-- login card end -->
  </div>
<!-- login class end -->
