<nav class="navbar navbar-dark font-weight-bold bg-dark">
    <div class="collapse navbar-collapse show" id="navbarsExample03">
      <ul class="navbar-nav ">
        <li class=" nav-item active ">
          <a class="nav-link" href="#">
              <div class="dropdown"  mdbDropdown>
                  <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                      id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                      
                      <span>HOME</span>
                    </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                      <li><a class="dropdown-item" href="#">New project..gdfbfghhhgbgfb.</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div> 
              
          </a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="#">  
            <div class="dropdown"  mdbDropdown>
              <a  href="#" class="d-block  text-light dropdown-toggle waves-light" 
                  id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                  
                  <span>ABOUT COMPANY</span>
                </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div> 
          </a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="#"> 
               <div class="dropdown"  mdbDropdown>
              <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                  id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                  
                  <span>OUR SERVICES</span>
                </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div> 
          </a>
        </li>
        <li class=" nav-item d-none d-md-block">
          <a class="nav-link text-light" href="#">GALLARY</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">
              <div class="dropdown"  mdbDropdown>
              <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                  id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                  
                  <span>PAGES</span>
                </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div> 
          </a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="#">
              <div class="dropdown"  mdbDropdown>
              <a  href="#" class="d-block text-light dropdown-toggle waves-light" 
                  id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                  
                  <span>BLOGS</span>
                </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div> 
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">  
            <div class="dropdown"  mdbDropdown>
              <a  href="#" class="d-block  text-light dropdown-toggle waves-light" 
                  id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" mdbDropdownToggle mdbWavesEffect>
                  
                  <span class="cargoTracking">CARGO TRACKING</span>
                </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div> 
          </a>
        </li>  
        
        <li class="">
          <div  class="nav-item">
              <a class="nav-link bg-primary text-light" href="#">CARGO BOOKING</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  