
.slide-one{
    position:absolute;
    top:10vw;
    right:55vw;
    text-align: left;
    font-family:serif;
    width:50%;
    
}
.slide .slide-style span{
 font-size: 1.3vw;
 padding: 0.2em 0em;
 display: block;
}
.slide .slide-style h1{
    font-size: 2.5vw;
    padding: 0.4em 0em;
    margin: 0em;
}
.slide .slide-style h2{
    font-size: 3.5vw;
    
}
.slide .slide-style button{
    font-size: 1.1vw;
    margin-top: 0.3vw;
    padding: 1vw;
}

.slide-two{
    position: absolute;
    top:12vw;
    left:55vw;
    text-align: left;
    font-family:serif;
    width:35%;
}

.slide-three{
    position:absolute;
    top:15vw;
    font-family:serif;

}
.slide-four{
    position:absolute;
    top:10vw;
    right:55vw;
    text-align: left;
    font-family:serif;
    width:50%;
}

@media screen and (max-width: 650px) {
    .slide .slide-style span {
         font-size: 10px;
         padding:0px;
    }
    .slide-one, .slide-four{
        top:6vw;
        width: 70%;
    }
    .slide-two{
        top: 5vw;
        left: 20vw;
        width: 65%;
    }
    .slide-three{
        top: 8vw;
    }
    .slide .slide-style h1{
        padding: 0em;
        margin: 0em;
    }
}

    @media screen and (max-width: 500px) {
        .slider{
          width: 40em;
        }
        .slide .slide-style span {
            font-size: 12px;
            padding:0px;
            line-height: 18px;
       }
       .slide .slide-style button{
        font-size: 15px;
        
        margin-top: 10px;
       }
       .slide-three{
        top: 7vw;
        }
       
       .slide .slide-style h1{
           line-height: 23px;
           font-size: 18px;
       }
        }
    














